/*CSS for the index page*/

#body-wrapper p {
	text-align: right;
    padding-right: 5%;
    padding-top: 20px;
}

#welcome-text h1 {
	text-align:center;
	padding-top: 16%;
}

#start-text p {
	text-align:center;
	padding-left: 5%; /* This centers the text */
	color:black;
}

#start-text a {
	color:black;
	text-decoration:none;
}